In [3]:
import pandas as pd
import numpy as np

In [9]:
dfwise = pd.read_csv(r"C:\Users\Alok Trivedy\district_wise.csv")

In [6]:
dfdis =  pd.read_csv(r"C:\Users\Alok Trivedy\districts.csv")

In [7]:
dfdis.head()

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN

In [10]:
dfwise.head()

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN,NaN

In [11]:
import json

with open(r'C:\Users\Alok Trivedy\dat.json') as f:
    data = json.load(f)

In [12]:
# District codes are stored in list file
dis_code = list(dfwise['District_Key'])

In [13]:
# State codes are stored in list file
sta_code = list(dfwise['State_Code'].unique())
sta_code.sort()

In [14]:
sta_code

['AN',
 'AP',
 'AR',
 'AS',
 'BR',
 'CH',
 'CT',
 'DL',
 'DN',
 'GA',
 'GJ',
 'HP',
 'HR',
 'JH',
 'JK',
 'KA',
 'KL',
 'LA',
 'LD',
 'MH',
 'ML',
 'MN',
 'MP',
 'MZ',
 'NL',
 'OR',
 'PB',
 'PY',
 'RJ',
 'SK',
 'TG',
 'TN',
 'TR',
 'UN',
 'UP',
 'UT',
 'WB']

In [11]:
dfdis.head()

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN

In [12]:
# active cases are determind
dfdis.loc[:,'cases'] = 0

In [13]:
#indexname = dfdis[dfdis['Date'] == '2020-04-26'].index
dfdis.loc[:,'cases'] = dfdis.loc[:,'Confirmed'] - dfdis.loc[:,'Recovered'] - dfdis.loc[:,'Deceased']

In [14]:
# For district wise peak claculation dfdis2 datframe was created
dfdis2 = dfdis.drop(['District','Recovered','Deceased','Confirmed','Other','Tested'],axis=1)

In [15]:
# For state wise peak claculation dfdis datframe was created
dfdis = dfdis.drop(['State','Recovered','Deceased','Confirmed','Other','Tested'],axis=1)

In [16]:
dfdis  = dfdis.loc[:,['District','Date','cases']]

In [17]:
dfdis2  = dfdis2.loc[:,['State','Date','cases']]

In [19]:
dfdis2.head()

                         State        Date  cases
0  Andaman and Nicobar Islands  2020-04-26     22
1               Andhra Pradesh  2020-04-26     35
2               Andhra Pradesh  2020-04-26     60
3               Andhra Pradesh  2020-04-26     27
4               Andhra Pradesh  2020-04-26    177

In [130]:
# date file contains different dates present in datafvrame file
sta = list(dfdis2.State.unique())
date = list(dfdis2['Date'].unique())

In [30]:
# first state code s is chosen for  analysis ,for day 0, active cases across all district from that state were summed up
s = sta[0]
d =date[0]

temp = dfdis2[dfdis2['State'] == s]
indexname = temp[temp['Date'] == d].index
summ = temp.loc[indexname,'cases'].sum()
# data frame dfsta contain active cases for a particular state on a particular day
dfsta = pd.DataFrame({'State':s,'Date':d,'cases':summ},index = [0])
# as dfsta has index 0 so index was reset
dfsta = dfsta.reset_index()
dfsta = dfsta.drop('index',axis=1)
# as data[0] was already considererd so,that data was removed from date file
date = date[1:]
# above process is repeated for a particular state for all dates 
for j in date:
    indexname = temp[temp['Date'] == j].index
    summ = temp.loc[indexname,'cases'].sum()
    temp2 = pd.DataFrame({'State':s,'Date':j,'cases':summ},index = [0])
    temp2 = temp2.reset_index()
    # temp2 dataframe is concatenated with dfsta
    temp2 = temp2.drop('index',axis=1)  
    dfsta = pd.concat([dfsta, temp2],axis = 0)

In [32]:
dfsta.shape

(501, 3)

In [33]:
sta = sta[1:]

In [34]:
# same process is repeated for all other states and resulting data frame were concatenated with dfsta data frame
for i in sta:
    date = list(dfdis2['Date'].unique())
    d = date[0]
    temp = dfdis2[dfdis2['State'] == i]    
    indexname = temp[temp['Date'] == d].index
    summ = temp.loc[indexname,'cases'].sum()
    dfsta2 = pd.DataFrame({'State':i,'Date':d,'cases':summ},index = [0])
    dfsta2 = dfsta2.reset_index()
    dfsta2 = dfsta2.drop('index',axis=1)
    date = date[1:]
    for j in date:
        indexname = temp[temp['Date'] == j].index
        summ = temp.loc[indexname,'cases'].sum()
        temp2 = pd.DataFrame({'State':i,'Date':j,'cases':summ},index = [0])
        temp2 = temp2.reset_index()
        temp2 = temp2.drop('index',axis=1)  
        dfsta2 = pd.concat([dfsta2, temp2],axis = 0)
    dfsta = pd.concat([dfsta, dfsta2],axis = 0)

In [42]:
dfsta.head()

         Date                        State  cases
0  2020-03-15  Andaman and Nicobar Islands      0
1  2020-03-15               Andhra Pradesh      0
2  2020-03-15            Arunachal Pradesh      0
3  2020-03-15                        Assam      0
4  2020-03-15                        Bihar      0

In [39]:
dfdis.head()

        District        Date  cases
0        Unknown  2020-04-26     22
1      Anantapur  2020-04-26     35
2       Chittoor  2020-04-26     60
3  East Godavari  2020-04-26     27
4         Guntur  2020-04-26    177

In [131]:
# For detemining active cases for india , we summed active cases for each state 
# form date file day 0 is chosen
d =date[0]
#temp = dfdis2[dfdis2['State'] == s]
indexname = dfdis2[dfdis2['Date'] == d].index
# active cases for a particular cases were added
summ = dfdis2.loc[indexname,'cases'].sum()
# new data frame dfind was created 
dfind = pd.DataFrame({'Country':'India','Date':d,'cases':summ},index = [0])
dfind = dfind.reset_index()
dfind = dfind.drop('index',axis=1)
# same process was repeated for each state
date = date[1:]
for j in date:
    indexname = dfdis2[dfdis2['Date'] == j].index
    summ = dfdis2.loc[indexname,'cases'].sum()
    temp2 = pd.DataFrame({'Country':'India','Date':j,'cases':summ},index = [0])
    temp2 = temp2.reset_index()
    temp2 = temp2.drop('index',axis=1)  
    dfind = pd.concat([dfind, temp2],axis = 0)

In [132]:
dfind.head()

  Country        Date  cases
0   India  2020-04-26  20486
0   India  2020-04-27  21416
0   India  2020-04-28  22613
0   India  2020-04-29  23557
0   India  2020-04-30  24654

In [133]:
# As date column of  data frame dfind starts from 26 apr 2020 , we extended dates till 15 march 2020
import datetime
lis = list(dfind['Country'].unique())
start_date = datetime.date(2020, 3, 15)
end_date = datetime.date(2020, 4, 25)
delta = datetime.timedelta(days=1)
while start_date <= end_date:
    temp=pd.DataFrame(dict({'Date': end_date,'Country':lis,'cases':0}))
    dfind =pd.concat([temp,dfind], axis=0)
    #print(end_date)
    end_date -= delta

In [134]:
dfind.head()

         Date Country  cases
0  2020-03-15   India      0
0  2020-03-16   India      0
0  2020-03-17   India      0
0  2020-03-18   India      0
0  2020-03-19   India      0

In [41]:
# same process was done for data frame dfsta , dummy data were created for dates between 15 mar 2020 to 25 apr 2020
import datetime
lis = list(dfsta['State'].unique())
start_date = datetime.date(2020, 3, 15)
end_date = datetime.date(2020, 4, 25)
delta = datetime.timedelta(days=1)
while start_date <= end_date:
    temp=pd.DataFrame(dict({'Date': end_date,'State':lis,'cases':0}))
    dfsta =pd.concat([temp,dfsta], axis=0)
    #print(end_date)
    end_date -= delta

In [83]:
# same process was done for data frame dfdis , dummy data were created for dates between 15 mar 2020 to 25 apr 2020
import datetime
lis = list(dfdis['District'].unique())
start_date = datetime.date(2020, 3, 15)
end_date = datetime.date(2020, 4, 25)
delta = datetime.timedelta(days=1)
while start_date <= end_date:
    temp=pd.DataFrame(dict({'Date': end_date,'District': lis,'cases':0}))
    dfdis =pd.concat([temp,dfdis], axis=0)
    #print(end_date)
    end_date -= delta

In [84]:
dfdis  = dfdis.loc[:,['District','Date','cases']]

In [43]:
dfsta  = dfsta.loc[:,['State','Date','cases']]

In [135]:
dfind  = dfind.loc[:,['Country','Date','cases']]

In [136]:
dfind=dfind.set_index("Date")
dfind.index = pd.to_datetime(dfind.index)

In [85]:
dfdis=dfdis.set_index("Date")
dfdis.index = pd.to_datetime(dfdis.index)

In [44]:
dfsta=dfsta.set_index("Date")
dfsta.index = pd.to_datetime(dfsta.index)

As for determining peak value for every week. we needed to use overlapping week convention. so we created two data frame, one starts from 15 march 2020(sunday) and other from 19 mar 2020 (thursday) and then we will merge these two data frames back with appropriate date index.

In [86]:
dfdis = dfdis.loc['2020-03-15':'2021-08-15',:]

In [87]:
dfdiss = dfdis.loc['2020-03-19':'2021-08-15',:]

In [45]:
dfsta = dfsta.loc['2020-03-15':'2021-08-15',:]

In [46]:
dfsta2 = dfsta.loc['2020-03-19':'2021-08-15',:]

In [137]:
dfind = dfind.loc['2020-03-15':'2021-08-15',:]
dfind2 = dfind.loc['2020-03-19':'2021-08-15',:]

In [89]:
dis_code.sort()

In [90]:
type(dis_code)

list

In [145]:
# dfind and dfind2 data frame were resampled weekly , with dfind having odd numbers as index starting from 1 while dfind2 having
# even no as index starting from 2 , then we would merge them bach and sort them on the basis of date index
temp_ind = dfind[dfind.loc[:,'Country']=='India']

temp_ind= temp_ind.resample('W',closed="right", label="right").max()
temp_ind = temp_ind.reset_index()
temp_ind = temp_ind.drop('Date',axis=1)
l = temp_ind.shape[0]
# odd index
temp_ind.loc[:,'Date'] = range(1,2*l,2)
temp_ind2 = dfind2[dfind2.loc[:,'Country']=='India']

temp_ind2 = temp_ind2.resample('W',closed="right", label="right").max()
temp_ind2 = temp_ind2.reset_index()
temp_ind2 = temp_ind2.drop('Date',axis=1)

l = temp_ind2.shape[0]
# even index
temp_ind2.loc[:,'Date'] =  range(2,(2*l)+1,2)
# merging
temp_ind =pd.concat([temp_ind,temp_ind2], axis=0)

In [203]:
#temp_ind = temp_ind.reset_index()
temp_ind = temp_ind.sort_values('Date')
temp_ind.head()

  Country  cases  Date
0   India      0     1
1   India      0     2
2   India      0     3
3   India      0     4
4   India      0     5

In [202]:
temp_ind = temp_ind.reset_index()
temp_ind = temp_ind.drop('index',axis = 1)

In [207]:
temp_ind['cases']= pd.to_numeric(temp_ind['cases'], errors ='ignore')

In [211]:
# to find peak 1 and peak dataset is divided in two equal parts
temp_ind_1 = temp_ind.iloc[:75,:]
temp_ind_2= temp_ind.iloc[75:,:]

In [212]:
if((temp_ind_1.shape[0] >=1) and (temp_ind_2.shape[0] >=1) ):
    index = temp_ind_1['cases'].idxmax()
    
    temp_ind_1 = temp_ind_1.loc[index,:]
    
    temp_ind_1=pd.DataFrame(temp_ind_1)
    
    temp_ind_1= temp_ind_1.transpose()

              53
Country    India
cases    1018433
Date          54
   Country    cases Date
53   India  1018433   54

In [213]:
if((temp_ind_1.shape[0] >=1) and (temp_ind_2.shape[0] >=1) ):
    index = temp_ind_2['cases'].idxmax()
    #print(temp_1)
    temp_ind_2 = temp_ind_2.loc[index,:]
    #type(temp_1)
    temp_ind_2=pd.DataFrame(temp_ind_2)
    temp_ind_2= temp_ind_2.transpose()
    # peak cases for second wave were appended to the temp_ind_1 data frame
    temp_ind_1.loc[:,'cases_2'] = list(temp_ind_2.loc[:,'cases'])[0]
    temp_ind_1.loc[:,'date_2'] = list(temp_ind_2.loc[:,'Date'])[0]

In [214]:
temp_ind_1

   Country    cases Date  cases_2  date_2
53   India  1018433   54  3750934     120

In [159]:
# same process is repeated for finding peak value for india monthly
tempp_ind = dfind[dfind.loc[:,'Country']=='India']
tempp_ind = tempp_ind.resample('M',closed="right", label="right").max()
tempp_ind = tempp_ind.reset_index()
l = tempp_ind.shape[0]
# month value is represented by integer 1 to total month 
tempp_ind.loc[:,'Date'] = range(1,l+1)

In [166]:
tempp_ind['cases']= pd.to_numeric(tempp_ind['cases'], errors ='ignore')

In [175]:
# for finding two peak dataset was divided in two equal parts
tempp_ind_1 = tempp_ind.iloc[:9,:]
tempp_ind_2 = tempp_ind.iloc[9:,:]

In [185]:
tempp_ind_1.head()

  Date Country    cases  cases_2  date_2
6    7   India  1018433  3750934      15

In [169]:
tempp_ind_1['cases'].dtype

dtype('int64')

In [177]:
if((tempp_ind_1.shape[0] >=1) and (tempp_ind_2.shape[0] >=1) ):
    index = tempp_ind_1['cases'].idxmax()
    #print(temp_1)
    tempp_ind_1 = tempp_ind_1.loc[index,:]
    #type(temp_1)
    tempp_ind_1=pd.DataFrame(tempp_ind_1)
    tempp_ind_1= tempp_ind_1.transpose()
    tempp_ind_1.head()

In [179]:
if((tempp_ind_1.shape[0] >=1) and (tempp_ind_2.shape[0] >=1) ):
    index = tempp_ind_2['cases'].idxmax()
    #print(temp_1)
    tempp_ind_2 = tempp_ind_2.loc[index,:]
    #type(temp_1)
    tempp_ind_2=pd.DataFrame(tempp_ind_2)
    tempp_ind_2= tempp_ind_2.transpose()
    tempp_ind_1.loc[:,'cases_2'] = list(tempp_ind_2.loc[:,'cases'])[0]
    tempp_ind_1.loc[:,'date_2'] = list(tempp_ind_2.loc[:,'Date'])[0]

              59       59
Country    India    India
cases    3418973  3750934
Date         119      120

In [79]:
# weekly peak value for each state 
sta = dfwise[dfwise['State_Code']==sta_code[0]]['State']
sta = list(sta)[0]
# temp_sta data frame was created for a particualr state , which resample data weekly for that state
temp_sta = dfsta[dfsta.loc[:,'State']==sta]

temp_sta = temp_sta.resample('W',closed="right", label="right").max()
temp_sta.loc[:,'State'] = sta_code[0]
temp_sta = temp_sta.reset_index()
l = temp_sta.shape[0]
# old indexing 
temp_sta.loc[:,'Date'] = range(1,2*l,2)

Andaman and Nicobar Islands

In [83]:
temp_sta.head()

   Date State  cases
0     1    AN      0
1     3    AN      0
2     5    AN      0
3     7    AN      0
4     9    AN      0

In [81]:
sta = dfwise[dfwise['State_Code']==sta_code[0]]['State']
sta = list(sta)[0]
# temp_sta2 data frame was created for a particualr state , which resample data weekly for that state
temp_sta2 = dfsta2[dfsta2.loc[:,'State']==sta]

temp_sta2 = temp_sta2.resample('W',closed="right", label="right").max()
temp_sta2.loc[:,'State'] = sta_code[0]
temp_sta2 = temp_sta2.reset_index()
l = temp_sta2.shape[0]
# even indexing
temp_sta2.loc[:,'Date'] = range(2,(2*l)+1,2)

In [82]:
# temp_sta and temp_sta2 were merged into temp_sta and sorted by date column
temp_sta =pd.concat([temp_sta,temp_sta2], axis=0)

In [84]:
temp_sta = temp_sta.sort_values('Date')
temp_sta.head()

   Date State  cases
0     1    AN      0
0     2    AN      0
1     3    AN      0
1     4    AN      0
2     5    AN      0

In [85]:
temp_sta = temp_sta.reset_index()
temp_sta =temp_sta.drop('index',axis=1)

In [86]:
# to get peak1 and peak 2 , dataset is divided in two parts
temp_sta_1 = temp_sta.iloc[:75,:]
temp_sta_2= temp_sta.iloc[75:,:]

In [87]:
if((temp_sta_1.shape[0] >=1) and (temp_sta_2.shape[0] >=1) ):
    index = temp_sta_1['cases'].idxmax()
    #print(temp_1)
    temp_sta_1 = temp_sta_1.loc[index,:]
    #type(temp_1)
    temp_sta_1=pd.DataFrame(temp_sta_1)
    temp_sta_1= temp_sta_1.transpose()

In [88]:
if((temp_sta_1.shape[0] >=1) and (temp_sta_2.shape[0] >=1) ):
    index = temp_sta_2['cases'].idxmax()
    #print(temp_1)
    temp_sta_2 = temp_sta_2.loc[index,:]
    #type(temp_1)
    temp_sta_2=pd.DataFrame(temp_sta_2)
    temp_sta_2= temp_sta_2.transpose()
    # temp_sta_1 stores peak value for wave 1 and wave 2 for a particular state
    temp_sta_1.loc[:,'cases_2'] = list(temp_sta_2.loc[:,'cases'])[0]
    temp_sta_1.loc[:,'date_2'] = list(temp_sta_2.loc[:,'Date'])[0]

In [89]:
sta_code = sta_code[1:]

In [90]:
# sme process is implemented for other states
for i in sta_code:
    sta = dfwise[dfwise['State_Code']==i]['State']
    sta = list(sta)[0]
    temp2_sta = dfsta[dfsta.loc[:,'State']==sta]
    temp2_sta = temp2_sta.resample('W',closed="right", label="right").max()
    temp2_sta.loc[:,'State'] = i
    temp2_sta = temp2_sta.reset_index()
    l = temp2_sta.shape[0]
    temp2_sta.loc[:,'Date'] = range(1,2*l,2)
    
    
    temp3_sta = dfsta2[dfsta2.loc[:,'State']==sta]
    temp3_sta = temp3_sta.resample('W',closed="right", label="right").max()
    temp3_sta.loc[:,'State'] = i
    temp3_sta = temp3_sta.reset_index()
    l = temp3_sta.shape[0]
    temp3_sta.loc[:,'Date'] = range(2,(2*l)+1,2)
    
    temp2_sta =pd.concat([temp2_sta,temp3_sta], axis=0)
    temp2_sta = temp2_sta.sort_values('Date')
    temp2_sta = temp2_sta.reset_index()
    temp2_sta =temp2_sta.drop('index',axis=1)
    
    temp2_sta_1 = temp2_sta.iloc[:75,:]
    temp2_sta_2= temp2_sta.iloc[75:,:]
    if((temp2_sta_1.shape[0] >=1) and (temp2_sta_2.shape[0] >=1) ):
        index = temp2_sta_1['cases'].idxmax()
        temp2_sta_1 = temp2_sta_1.loc[index,:]
        temp2_sta_1=pd.DataFrame(temp2_sta_1)
        temp2_sta_1= temp2_sta_1.transpose()
        index = temp2_sta_2['cases'].idxmax()
        temp2_sta_2 = temp2_sta_2.loc[index,:]
        temp2_sta_2=pd.DataFrame(temp2_sta_2)
        temp2_sta_2= temp2_sta_2.transpose()
        temp2_sta_1.loc[:,'cases_2'] = list(temp2_2.loc[:,'cases'])[0]
        temp2_sta_1.loc[:,'date_2'] = list(temp2_sta_2.loc[:,'Date'])[0]
        temp_sta_1 =pd.concat([temp_sta_1,temp2_sta_1], axis=0)

Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Delhi
Dadra and Nagar Haveli and Daman and Diu
Goa
Gujarat
Himachal Pradesh
Haryana
Jharkhand
Jammu and Kashmir
Karnataka
Kerala
Ladakh
Lakshadweep
Maharashtra
Meghalaya
Manipur
Madhya Pradesh
Mizoram
Nagaland
Odisha
Punjab
Puducherry
Rajasthan
Sikkim
Telangana
Tamil Nadu
Tripura
State Unassigned
Uttar Pradesh
Uttarakhand
West Bengal

In [151]:
temp_sta_1

   stateid wave1 − weekid  wave2 − weekid  wave1-monthid  wave2-monthid
0       AN             44             124              6             15
1       AP             50             124              7             15
2       AR             62             142              8             17
3       AS             58             126              7             15
4       BR             44             120              6             15
5       CH             54             122              7             15
6       CT             56             120              7             15
7       DL             70             118              9             14
8       DN             44             118              6             14
9       GA             54             122              7             15
10      GJ             58             120              8             15
11      HP             74             122              9             15
12      HR             54             120              7             15
13      JH             52             120              7             15
14      JK             54             122              7             15
15      KA             60             122              8             15
16      KL             64             122              8             15
17      LA             60             116              8             14
18      LD              1             126              1             15
19      MH             54             116              7             14
20      ML             62             126              8             15
21      MN             66             144              8             17
22      MP             56             122              7             15
23      MZ             56             146              7             18
24      NL             44             126              6             15
25      OR             56             124              7             15
26      PB             54             122              7             15
27      PY             56             124              7             15
28      RJ             74             122              9             15
29      SK             56             128              7             16
30      TG             50             118              7             15
31      TN             40             126              5             15
32      TR             52             126              7             15
33      UP             54             118              7             14
34      UT             54             122              7             15
35      WB             66             124              8             15

In [94]:
sta_code = list(dfwise.State_Code.unique())
sta_code.sort()

In [95]:
# peak month  value for each states
# initially peak month value for a particular was determined
sta = dfwise[dfwise['State_Code']==sta_code[0]]['State']
sta = list(sta)[0]
tempp_sta = dfsta[dfsta.loc[:,'State']==sta]
tempp_sta = tempp_sta.resample('M',closed="right", label="right").max()
tempp_sta.loc[:,'State'] = sta_code[0]
tempp_sta = tempp_sta.reset_index()
l = tempp_sta.shape[0]
tempp_sta.loc[:,'Date'] = range(1,l+1)

In [96]:
# we believed that first wave occurs between mar2020 to dec 2020 , so we divided the dataset accordingly
tempp_sta_1 = tempp_sta.iloc[:9,:]
tempp_sta_2 = tempp_sta.iloc[9:,:]

In [97]:
# peak month for wave 1
if((tempp_sta_1.shape[0] >=1) and (tempp_sta_2.shape[0] >=1) ):
    index = tempp_sta_1['cases'].idxmax()
    #print(temp_1)
    tempp_sta_1 = tempp_sta_1.loc[index,:]
    #type(temp_1)
    tempp_sta_1=pd.DataFrame(tempp_sta_1)
    tempp_sta_1= tempp_sta_1.transpose()
    tempp_sta_1.head()

In [98]:
# peak month for wave 2
if((tempp_sta_1.shape[0] >=1) and (tempp_sta_2.shape[0] >=1) ):
    index = tempp_sta_2['cases'].idxmax()
    #print(temp_1)
    tempp_sta_2 = tempp_sta_2.loc[index,:]
    #type(temp_1)
    tempp_sta_2=pd.DataFrame(tempp_sta_2)
    tempp_sta_2= tempp_sta_2.transpose()
    tempp_sta_2.head()
    tempp_sta_1.loc[:,'cases_2'] = list(tempp_sta_2.loc[:,'cases'])[0]
    tempp_sta_1.loc[:,'date_2'] = list(tempp_sta_2.loc[:,'Date'])[0]

In [99]:
sta_code = sta_code[1:]

In [100]:
# peak month for each state were determined
for i in sta_code:
    sta = dfwise[dfwise['State_Code']==i]['State']
    sta = list(sta)[0]
    print(sta)
    tempp2_sta = dfsta[dfsta.loc[:,'State']==sta]
    tempp2_sta = tempp2_sta.resample('M',closed="right", label="right").max()
    tempp2_sta.loc[:,'State'] = i
    tempp2_sta = tempp2_sta.reset_index()
    l = tempp2_sta.shape[0]
    tempp2_sta.loc[:,'Date'] = range(1,l+1)
    tempp2_sta_1 = tempp2_sta.iloc[:9,:]
    tempp2_sta_2= tempp2_sta.iloc[9:,:]
    if((tempp2_sta_1.shape[0] >=1) and (tempp2_sta_2.shape[0] >=1) ):
        index = tempp2_sta_1['cases'].idxmax()
        tempp2_sta_1 = tempp2_sta_1.loc[index,:]
        tempp2_sta_1=pd.DataFrame(tempp2_sta_1)
        tempp2_sta_1= tempp2_sta_1.transpose()
        index = tempp2_sta_2['cases'].idxmax()
        tempp2_sta_2 = tempp2_sta_2.loc[index,:]
        tempp2_sta_2=pd.DataFrame(tempp2_sta_2)
        tempp2_sta_2= tempp2_sta_2.transpose()
        tempp2_sta_1.loc[:,'cases_2'] = list(tempp2_sta_2.loc[:,'cases'])[0]
        tempp2_sta_1.loc[:,'date_2'] = list(tempp2_sta_2.loc[:,'Date'])[0]
        tempp_sta_1 =pd.concat([tempp_sta_1,tempp2_sta_1], axis=0)

Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Delhi
Dadra and Nagar Haveli and Daman and Diu
Goa
Gujarat
Himachal Pradesh
Haryana
Jharkhand
Jammu and Kashmir
Karnataka
Kerala
Ladakh
Lakshadweep
Maharashtra
Meghalaya
Manipur
Madhya Pradesh
Mizoram
Nagaland
Odisha
Punjab
Puducherry
Rajasthan
Sikkim
Telangana
Tamil Nadu
Tripura
State Unassigned
Uttar Pradesh
Uttarakhand
West Bengal

In [91]:
dis = dfwise[dfwise['District_Key']==dis_code[0]]['District']
dis = list(dis)[0]
print(dis)
temp = dfdis[dfdis.loc[:,'District']==dis]

temp = temp.resample('W',closed="right", label="right").max()
temp.loc[:,'District'] = dis_code[0]
temp = temp.reset_index()
l = temp.shape[0]
temp.loc[:,'Date'] = range(1,2*l,2)

South Andaman

In [92]:
temp

Empty DataFrame
Columns: [Date, District, cases]
Index: []

In [93]:
dis = dfwise[dfwise['District_Key']==dis_code[0]]['District']
dis = list(dis)[0]
temp1 = dfdiss[dfdiss.loc[:,'District']==dis]
temp1 = temp1.resample('W',closed="right", label="right").max()
temp1.loc[:,'District'] = dis_code[0]
temp1 = temp1.reset_index()
l = temp1.shape[0]
temp1.loc[:,'Date'] = range(2,(2*l)+1,2)

In [94]:
temp =pd.concat([temp,temp1], axis=0)

In [95]:
temp = temp.sort_values('Date')
temp.head()

Empty DataFrame
Columns: [Date, District, cases]
Index: []

In [96]:
temp = temp.reset_index()
temp =temp.drop('index',axis=1)

In [45]:
temp.head()

Empty DataFrame
Columns: [Date, District, cases]
Index: []

In [97]:
temp_1 = temp.iloc[:75,:]
temp_2= temp.iloc[75:,:]

In [99]:
if((temp_1.shape[0] >=1) and (temp_2.shape[0] >=1) ):
    index = temp_1['cases'].idxmax()
    #print(temp_1)
    temp_1 = temp_1.loc[index,:]
    #type(temp_1)
    temp_1=pd.DataFrame(temp_1)
    temp_1= temp_1.transpose()
    temp_1.head()

In [100]:
if((temp_1.shape[0] >=1) and (temp_2.shape[0] >=1) ):
    index = temp_2['cases'].idxmax()
    #print(temp_1)
    temp_2 = temp_2.loc[index,:]
    #type(temp_1)
    temp_2=pd.DataFrame(temp_2)
    temp_2= temp_2.transpose()
    temp_2.head()
    temp_1.loc[:,'cases_2'] = list(temp_2.loc[:,'cases'])[0]
    temp_1.loc[:,'date_2'] = list(temp_2.loc[:,'Date'])[0]

In [184]:
len(dis_code)

715

In [185]:
temp_1.head()

   Date    District cases  cases_2  date_2
69   70  HP_Kinnaur  63.0    116.0     126

In [101]:
dis_code = dis_code[1:]

In [102]:
for i in dis_code:
    dis = dfwise[dfwise['District_Key']==i]['District']
    dis = list(dis)[0]
    print(dis)
    temp2 = dfdis[dfdis.loc[:,'District']==dis]
    temp2 = temp2.resample('W',closed="right", label="right").max()
    temp2.loc[:,'District'] = i
    temp2 = temp2.reset_index()
    l = temp2.shape[0]
    temp2.loc[:,'Date'] = range(1,2*l,2)
    
    dis = dfwise[dfwise['District_Key']==i]['District']
    dis = list(dis)[0]
    print(dis)
    temp3 = dfdiss[dfdiss.loc[:,'District']==dis]
    temp3 = temp3.resample('W',closed="right", label="right").max()
    temp3.loc[:,'District'] = i
    temp3 = temp3.reset_index()
    l = temp3.shape[0]
    temp3.loc[:,'Date'] = range(2,(2*l)+1,2)
    
    temp2 =pd.concat([temp2,temp3], axis=0)
    temp2 = temp2.sort_values('Date')
    temp2 = temp2.reset_index()
    temp2 =temp2.drop('index',axis=1)
    
    temp2_1 = temp2.iloc[:75,:]
    temp2_2= temp2.iloc[75:,:]
    if((temp2_1.shape[0] >=1) and (temp2_2.shape[0] >=1) ):
        index = temp2_1['cases'].idxmax()
        temp2_1 = temp2_1.loc[index,:]
        temp2_1=pd.DataFrame(temp2_1)
        temp2_1= temp2_1.transpose()
        index = temp2_2['cases'].idxmax()
        temp2_2 = temp2_2.loc[index,:]
        temp2_2=pd.DataFrame(temp2_2)
        temp2_2= temp2_2.transpose()
        temp2_1.loc[:,'cases_2'] = list(temp2_2.loc[:,'cases'])[0]
        temp2_1.loc[:,'date_2'] = list(temp2_2.loc[:,'Date'])[0]
        temp_1 =pd.concat([temp_1,temp2_1], axis=0)

Unknown
Unknown
Anantapur
Anantapur
Chittoor
Chittoor
East Godavari
East Godavari
Foreign Evacuees
Foreign Evacuees
Guntur
Guntur
Krishna
Krishna
Kurnool
Kurnool
Other State
Other State
Prakasam
Prakasam
S.P.S. Nellore
S.P.S. Nellore
Srikakulam
Srikakulam
Unknown
Unknown
Visakhapatnam
Visakhapatnam
Vizianagaram
Vizianagaram
West Godavari
West Godavari
Y.S.R. Kadapa
Y.S.R. Kadapa
Anjaw
Anjaw
Changlang
Changlang
East Kameng
East Kameng
East Siang
East Siang
Kamle
Kamle
Kra Daadi
Kra Daadi
Kurung Kumey
Kurung Kumey
Lepa Rada
Lepa Rada
Lohit
Lohit
Longding
Longding
Lower Dibang Valley
Lower Dibang Valley
Lower Siang
Lower Siang
Lower Subansiri
Lower Subansiri
Namsai
Namsai
Pakke Kessang
Pakke Kessang
Papum Pare
Papum Pare
Shi Yomi
Shi Yomi
Siang
Siang
Tawang
Tawang
Tirap
Tirap
Unknown
Unknown
Upper Dibang Valley
Upper Dibang Valley
Upper Siang
Upper Siang
Upper Subansiri
Upper Subansiri
West Kameng
West Kameng
West Siang
West Siang
Airport Quarantine
Airport Quarantine
Baksa
Baksa
Barpeta
Barpeta
Biswanath
Biswanath
Bongaigaon
Bongaigaon
Cachar
Cachar
Charaideo
Charaideo
Chirang
Chirang
Darrang
Darrang
Dhemaji
Dhemaji
Dhubri
Dhubri
Dibrugarh
Dibrugarh
Dima Hasao
Dima Hasao
Goalpara
Goalpara
Golaghat
Golaghat
Hailakandi
Hailakandi
Hojai
Hojai
Jorhat
Jorhat
Kamrup
Kamrup
Kamrup Metropolitan
Kamrup Metropolitan
Karbi Anglong
Karbi Anglong
Karimganj
Karimganj
Kokrajhar
Kokrajhar
Lakhimpur
Lakhimpur
Majuli
Majuli
Morigaon
Morigaon
Nagaon
Nagaon
Nalbari
Nalbari
Other State
Other State
Sivasagar
Sivasagar
Sonitpur
Sonitpur
South Salmara Mankachar
South Salmara Mankachar
Tinsukia
Tinsukia
Udalguri
Udalguri
Unknown
Unknown
West Karbi Anglong
West Karbi Anglong
Araria
Araria
Arwal
Arwal
Aurangabad
Aurangabad
Banka
Banka
Begusarai
Begusarai
Bhagalpur
Bhagalpur
Bhojpur
Bhojpur
Buxar
Buxar
Darbhanga
Darbhanga
East Champaran
East Champaran
Gaya
Gaya
Gopalganj
Gopalganj
Jamui
Jamui
Jehanabad
Jehanabad
Kaimur
Kaimur
Katihar
Katihar
Khagaria
Khagaria
Kishanganj
Kishanganj
Lakhisarai
Lakhisarai
Madhepura
Madhepura
Madhubani
Madhubani
Munger
Munger
Muzaffarpur
Muzaffarpur
Nalanda
Nalanda
Nawada
Nawada
Patna
Patna
Purnia
Purnia
Rohtas
Rohtas
Saharsa
Saharsa
Samastipur
Samastipur
Saran
Saran
Sheikhpura
Sheikhpura
Sheohar
Sheohar
Sitamarhi
Sitamarhi
Siwan
Siwan
Supaul
Supaul
Unknown
Unknown
Vaishali
Vaishali
West Champaran
West Champaran
Chandigarh
Chandigarh
Unknown
Unknown
Balod
Balod
Baloda Bazar
Baloda Bazar
Balrampur
Balrampur
Bametara
Bametara
Bastar
Bastar
Bijapur
Bijapur
Bilaspur
Bilaspur
Dakshin Bastar Dantewada
Dakshin Bastar Dantewada
Dhamtari
Dhamtari
Durg
Durg
Gariaband
Gariaband
Gaurela Pendra Marwahi
Gaurela Pendra Marwahi
Janjgir Champa
Janjgir Champa
Jashpur
Jashpur
Kabeerdham
Kabeerdham
Kondagaon
Kondagaon
Korba
Korba
Koriya
Koriya
Mahasamund
Mahasamund
Mungeli
Mungeli
Narayanpur
Narayanpur
Other State
Other State
Raigarh
Raigarh
Raipur
Raipur
Rajnandgaon
Rajnandgaon
Sukma
Sukma
Surajpur
Surajpur
Surguja
Surguja
Unknown
Unknown
Uttar Bastar Kanker
Uttar Bastar Kanker
Central Delhi
Central Delhi
East Delhi
East Delhi
New Delhi
New Delhi
North Delhi
North Delhi
North East Delhi
North East Delhi
North West Delhi
North West Delhi
Shahdara
Shahdara
South Delhi
South Delhi
South East Delhi
South East Delhi
South West Delhi
South West Delhi
Unknown
Unknown
West Delhi
West Delhi
Dadra and Nagar Haveli
Dadra and Nagar Haveli
Daman
Daman
Diu
Diu
Other State
Other State
Unknown
Unknown
North Goa
North Goa
Other State
Other State
South Goa
South Goa
Unknown
Unknown
Ahmedabad
Ahmedabad
Amreli
Amreli
Anand
Anand
Aravalli
Aravalli
Banaskantha
Banaskantha
Bharuch
Bharuch
Bhavnagar
Bhavnagar
Botad
Botad
Chhota Udaipur
Chhota Udaipur
Dahod
Dahod
Dang
Dang
Devbhumi Dwarka
Devbhumi Dwarka
Gandhinagar
Gandhinagar
Gir Somnath
Gir Somnath
Jamnagar
Jamnagar
Junagadh
Junagadh
Kheda
Kheda
Kutch
Kutch
Mahisagar
Mahisagar
Mehsana
Mehsana
Morbi
Morbi
Narmada
Narmada
Navsari
Navsari
Other State
Other State
Panchmahal
Panchmahal
Patan
Patan
Porbandar
Porbandar
Rajkot
Rajkot
Sabarkantha
Sabarkantha
Surat
Surat
Surendranagar
Surendranagar
Tapi
Tapi
Unknown
Unknown
Vadodara
Vadodara
Valsad
Valsad
Bilaspur
Bilaspur
Chamba
Chamba
Hamirpur
Hamirpur
Kangra
Kangra
Kinnaur
Kinnaur
Kullu
Kullu
Lahaul and Spiti
Lahaul and Spiti
Mandi
Mandi
Shimla
Shimla
Sirmaur
Sirmaur
Solan
Solan
Una
Una
Unknown
Unknown
Ambala
Ambala
Bhiwani
Bhiwani
Charkhi Dadri
Charkhi Dadri
Faridabad
Faridabad
Fatehabad
Fatehabad
Foreign Evacuees
Foreign Evacuees
Gurugram
Gurugram
Hisar
Hisar
Italians
Italians
Jhajjar
Jhajjar
Jind
Jind
Kaithal
Kaithal
Karnal
Karnal
Kurukshetra
Kurukshetra
Mahendragarh
Mahendragarh
Nuh
Nuh
Palwal
Palwal
Panchkula
Panchkula
Panipat
Panipat
Rewari
Rewari
Rohtak
Rohtak
Sirsa
Sirsa
Sonipat
Sonipat
Unknown
Unknown
Yamunanagar
Yamunanagar
Bokaro
Bokaro
Chatra
Chatra
Deoghar
Deoghar
Dhanbad
Dhanbad
Dumka
Dumka
East Singhbhum
East Singhbhum
Garhwa
Garhwa
Giridih
Giridih
Godda
Godda
Gumla
Gumla
Hazaribagh
Hazaribagh
Jamtara
Jamtara
Khunti
Khunti
Koderma
Koderma
Latehar
Latehar
Lohardaga
Lohardaga
Pakur
Pakur
Palamu
Palamu
Ramgarh
Ramgarh
Ranchi
Ranchi
Sahibganj
Sahibganj
Saraikela-Kharsawan
Saraikela-Kharsawan
Simdega
Simdega
Unknown
Unknown
West Singhbhum
West Singhbhum
Anantnag
Anantnag
Bandipora
Bandipora
Baramulla
Baramulla
Budgam
Budgam
Doda
Doda
Ganderbal
Ganderbal
Jammu
Jammu
Kathua
Kathua
Kishtwar
Kishtwar
Kulgam
Kulgam
Kupwara
Kupwara
Mirpur
Mirpur
Muzaffarabad
Muzaffarabad
Pulwama
Pulwama
Punch
Punch
Rajouri
Rajouri
Ramban
Ramban
Reasi
Reasi
Samba
Samba
Shopiyan
Shopiyan
Srinagar
Srinagar
Udhampur
Udhampur
Unknown
Unknown
Bagalkote
Bagalkote
Ballari
Ballari
Belagavi
Belagavi
Bengaluru Rural
Bengaluru Rural
Bengaluru Urban
Bengaluru Urban
Bidar
Bidar
Chamarajanagara
Chamarajanagara
Chikkaballapura
Chikkaballapura
Chikkamagaluru
Chikkamagaluru
Chitradurga
Chitradurga
Dakshina Kannada
Dakshina Kannada
Davanagere
Davanagere
Dharwad
Dharwad
Gadag
Gadag
Hassan
Hassan
Haveri
Haveri
Kalaburagi
Kalaburagi
Kodagu
Kodagu
Kolar
Kolar
Koppal
Koppal
Mandya
Mandya
Mysuru
Mysuru
Other State
Other State
Raichur
Raichur
Ramanagara
Ramanagara
Shivamogga
Shivamogga
Tumakuru
Tumakuru
Udupi
Udupi
Unknown
Unknown
Uttara Kannada
Uttara Kannada
Vijayapura
Vijayapura
Yadgir
Yadgir
Alappuzha
Alappuzha
Ernakulam
Ernakulam
Idukki
Idukki
Kannur
Kannur
Kasaragod
Kasaragod
Kollam
Kollam
Kottayam
Kottayam
Kozhikode
Kozhikode
Malappuram
Malappuram
Other State
Other State
Palakkad
Palakkad
Pathanamthitta
Pathanamthitta
Thiruvananthapuram
Thiruvananthapuram
Thrissur
Thrissur
Unknown
Unknown
Wayanad
Wayanad
Kargil
Kargil
Leh
Leh
Unknown
Unknown
Lakshadweep
Lakshadweep
Unknown
Unknown
Ahmednagar
Ahmednagar
Akola
Akola
Amravati
Amravati
Aurangabad
Aurangabad
Beed
Beed
Bhandara
Bhandara
Buldhana
Buldhana
Chandrapur
Chandrapur
Dhule
Dhule
Gadchiroli
Gadchiroli
Gondia
Gondia
Hingoli
Hingoli
Jalgaon
Jalgaon
Jalna
Jalna
Kolhapur
Kolhapur
Latur
Latur
Mumbai
Mumbai
Mumbai Suburban
Mumbai Suburban
Nagpur
Nagpur
Nanded
Nanded
Nandurbar
Nandurbar
Nashik
Nashik
Osmanabad
Osmanabad
Other State
Other State
Palghar
Palghar
Parbhani
Parbhani
Pune
Pune
Raigad
Raigad
Ratnagiri
Ratnagiri
Sangli
Sangli
Satara
Satara
Sindhudurg
Sindhudurg
Solapur
Solapur
Thane
Thane
Unknown
Unknown
Wardha
Wardha
Washim
Washim
Yavatmal
Yavatmal
East Garo Hills
East Garo Hills
East Jaintia Hills
East Jaintia Hills
East Khasi Hills
East Khasi Hills
North Garo Hills
North Garo Hills
Ribhoi
Ribhoi
South Garo Hills
South Garo Hills
South West Garo Hills
South West Garo Hills
South West Khasi Hills
South West Khasi Hills
Unknown
Unknown
West Garo Hills
West Garo Hills
West Jaintia Hills
West Jaintia Hills
West Khasi Hills
West Khasi Hills
Bishnupur
Bishnupur
CAPF Personnel
CAPF Personnel
Chandel
Chandel
Churachandpur
Churachandpur
Imphal East
Imphal East
Imphal West
Imphal West
Jiribam
Jiribam
Kakching
Kakching
Kamjong
Kamjong
Kangpokpi
Kangpokpi
Noney
Noney
Pherzawl
Pherzawl
Senapati
Senapati
Tamenglong
Tamenglong
Tengnoupal
Tengnoupal
Thoubal
Thoubal
Ukhrul
Ukhrul
Unknown
Unknown
Agar Malwa
Agar Malwa
Alirajpur
Alirajpur
Anuppur
Anuppur
Ashoknagar
Ashoknagar
Balaghat
Balaghat
Barwani
Barwani
Betul
Betul
Bhind
Bhind
Bhopal
Bhopal
Burhanpur
Burhanpur
Chhatarpur
Chhatarpur
Chhindwara

Chhindwara
Damoh
Damoh
Datia
Datia
Dewas
Dewas
Dhar
Dhar
Dindori
Dindori
Guna
Guna
Gwalior
Gwalior
Harda
Harda
Hoshangabad
Hoshangabad
Indore
Indore
Jabalpur
Jabalpur
Jhabua
Jhabua
Katni
Katni
Khandwa
Khandwa
Khargone
Khargone
Mandla
Mandla
Mandsaur
Mandsaur
Morena
Morena
Narsinghpur
Narsinghpur
Neemuch
Neemuch
Niwari
Niwari
Other Region
Other Region
Panna
Panna
Raisen
Raisen
Rajgarh
Rajgarh
Ratlam
Ratlam
Rewa
Rewa
Sagar
Sagar
Satna
Satna
Sehore
Sehore
Seoni
Seoni
Shahdol
Shahdol
Shajapur
Shajapur
Sheopur
Sheopur
Shivpuri
Shivpuri
Sidhi
Sidhi
Singrauli
Singrauli
Tikamgarh
Tikamgarh
Ujjain
Ujjain
Umaria
Umaria
Unknown
Unknown
Vidisha
Vidisha
Aizawl
Aizawl
Champhai
Champhai
Hnahthial
Hnahthial
Khawzawl
Khawzawl
Kolasib
Kolasib
Lawngtlai
Lawngtlai
Lunglei
Lunglei
Mamit
Mamit
Saiha
Saiha
Saitual
Saitual
Serchhip
Serchhip
Unknown
Unknown
Dimapur
Dimapur
Kiphire
Kiphire
Kohima
Kohima
Longleng
Longleng
Mokokchung
Mokokchung
Mon
Mon
Others
Others
Peren
Peren
Phek
Phek
Tuensang
Tuensang
Unknown
Unknown
Wokha
Wokha
Zunheboto
Zunheboto
Angul
Angul
Balangir
Balangir
Balasore
Balasore
Bargarh
Bargarh
Bhadrak
Bhadrak
Boudh
Boudh
Cuttack
Cuttack
Deogarh
Deogarh
Dhenkanal
Dhenkanal
Gajapati
Gajapati
Ganjam
Ganjam
Jagatsinghpur
Jagatsinghpur
Jajpur
Jajpur
Jharsuguda
Jharsuguda
Kalahandi
Kalahandi
Kandhamal
Kandhamal
Kendrapara
Kendrapara
Kendujhar
Kendujhar
Khordha
Khordha
Koraput
Koraput
Malkangiri
Malkangiri
Mayurbhanj
Mayurbhanj
Nabarangapur
Nabarangapur
Nayagarh
Nayagarh
Nuapada
Nuapada
Others
Others
Puri
Puri
Rayagada
Rayagada
Sambalpur
Sambalpur
State Pool
State Pool
Subarnapur
Subarnapur
Sundargarh
Sundargarh
Unknown
Unknown
Amritsar
Amritsar
Barnala
Barnala
Bathinda
Bathinda
Faridkot
Faridkot
Fatehgarh Sahib
Fatehgarh Sahib
Fazilka
Fazilka
Ferozepur
Ferozepur
Gurdaspur
Gurdaspur
Hoshiarpur
Hoshiarpur
Jalandhar
Jalandhar
Kapurthala
Kapurthala
Ludhiana
Ludhiana
Mansa
Mansa
Moga
Moga
Pathankot
Pathankot
Patiala
Patiala
Rupnagar
Rupnagar
S.A.S. Nagar
S.A.S. Nagar
Sangrur
Sangrur
Shahid Bhagat Singh Nagar
Shahid Bhagat Singh Nagar
Sri Muktsar Sahib
Sri Muktsar Sahib
Tarn Taran
Tarn Taran
Unknown
Unknown
Karaikal
Karaikal
Mahe
Mahe
Puducherry
Puducherry
Unknown
Unknown
Yanam
Yanam
Ajmer
Ajmer
Alwar
Alwar
BSF Camp
BSF Camp
Banswara
Banswara
Baran
Baran
Barmer
Barmer
Bharatpur
Bharatpur
Bhilwara
Bhilwara
Bikaner
Bikaner
Bundi
Bundi
Chittorgarh
Chittorgarh
Churu
Churu
Dausa
Dausa
Dholpur
Dholpur
Dungarpur
Dungarpur
Evacuees
Evacuees
Ganganagar
Ganganagar
Hanumangarh
Hanumangarh
Italians
Italians
Jaipur
Jaipur
Jaisalmer
Jaisalmer
Jalore
Jalore
Jhalawar
Jhalawar
Jhunjhunu
Jhunjhunu
Jodhpur
Jodhpur
Karauli
Karauli
Kota
Kota
Nagaur
Nagaur
Other State
Other State
Pali
Pali
Pratapgarh
Pratapgarh
Rajsamand
Rajsamand
Sawai Madhopur
Sawai Madhopur
Sikar
Sikar
Sirohi
Sirohi
Tonk
Tonk
Udaipur
Udaipur
Unknown
Unknown
East Sikkim
East Sikkim
North Sikkim
North Sikkim
South Sikkim
South Sikkim
Unknown
Unknown
West Sikkim
West Sikkim
Adilabad
Adilabad
Bhadradri Kothagudem
Bhadradri Kothagudem
Foreign Evacuees
Foreign Evacuees
Hyderabad
Hyderabad
Jagtial
Jagtial
Jangaon
Jangaon
Jayashankar Bhupalapally
Jayashankar Bhupalapally
Jogulamba Gadwal
Jogulamba Gadwal
Kamareddy
Kamareddy
Karimnagar
Karimnagar
Khammam
Khammam
Komaram Bheem
Komaram Bheem
Mahabubabad
Mahabubabad
Mahabubnagar
Mahabubnagar
Mancherial
Mancherial
Medak
Medak
Medchal Malkajgiri
Medchal Malkajgiri
Mulugu
Mulugu
Nagarkurnool
Nagarkurnool
Nalgonda
Nalgonda
Narayanpet
Narayanpet
Nirmal
Nirmal
Nizamabad
Nizamabad
Other State
Other State
Peddapalli
Peddapalli
Rajanna Sircilla
Rajanna Sircilla
Ranga Reddy
Ranga Reddy
Sangareddy
Sangareddy
Siddipet
Siddipet
Suryapet
Suryapet
Unknown
Unknown
Vikarabad
Vikarabad
Wanaparthy
Wanaparthy
Warangal Rural
Warangal Rural
Warangal Urban
Warangal Urban
Yadadri Bhuvanagiri
Yadadri Bhuvanagiri
Airport Quarantine
Airport Quarantine
Ariyalur
Ariyalur
Chengalpattu
Chengalpattu
Chennai
Chennai
Coimbatore
Coimbatore
Cuddalore
Cuddalore
Dharmapuri
Dharmapuri
Dindigul
Dindigul
Erode
Erode
Kallakurichi
Kallakurichi
Kancheepuram
Kancheepuram
Kanyakumari
Kanyakumari
Karur
Karur
Krishnagiri
Krishnagiri
Madurai
Madurai
Mayiladuthurai
Mayiladuthurai
Nagapattinam
Nagapattinam
Namakkal
Namakkal
Nilgiris
Nilgiris
Other State
Other State
Perambalur
Perambalur
Pudukkottai
Pudukkottai
Railway Quarantine
Railway Quarantine
Ramanathapuram
Ramanathapuram
Ranipet
Ranipet
Salem
Salem
Sivaganga
Sivaganga
Tenkasi
Tenkasi
Thanjavur
Thanjavur
Theni
Theni
Thiruvallur
Thiruvallur
Thiruvarur
Thiruvarur
Thoothukkudi
Thoothukkudi
Tiruchirappalli
Tiruchirappalli
Tirunelveli
Tirunelveli
Tirupathur
Tirupathur
Tiruppur
Tiruppur
Tiruvannamalai
Tiruvannamalai
Unknown
Unknown
Vellore
Vellore
Viluppuram
Viluppuram
Virudhunagar
Virudhunagar
Dhalai
Dhalai
Gomati
Gomati
Khowai
Khowai
North Tripura
North Tripura
Sipahijala
Sipahijala
South Tripura
South Tripura
Unknown
Unknown
Unokoti
Unokoti
West Tripura
West Tripura
Agra
Agra
Aligarh
Aligarh
Ambedkar Nagar
Ambedkar Nagar
Amethi
Amethi
Amroha
Amroha
Auraiya
Auraiya
Ayodhya
Ayodhya
Azamgarh
Azamgarh
Baghpat
Baghpat
Bahraich
Bahraich
Ballia
Ballia
Balrampur
Balrampur
Banda
Banda
Barabanki
Barabanki
Bareilly
Bareilly
Basti
Basti
Bhadohi
Bhadohi
Bijnor
Bijnor
Budaun
Budaun
Bulandshahr
Bulandshahr
Chandauli
Chandauli
Chitrakoot
Chitrakoot
Deoria
Deoria
Etah
Etah
Etawah
Etawah
Farrukhabad
Farrukhabad
Fatehpur
Fatehpur
Firozabad
Firozabad
Gautam Buddha Nagar
Gautam Buddha Nagar
Ghaziabad
Ghaziabad
Ghazipur
Ghazipur
Gonda
Gonda
Gorakhpur
Gorakhpur
Hamirpur
Hamirpur
Hapur
Hapur
Hardoi
Hardoi
Hathras
Hathras
Jalaun
Jalaun
Jaunpur
Jaunpur
Jhansi
Jhansi
Kannauj
Kannauj
Kanpur Dehat
Kanpur Dehat
Kanpur Nagar
Kanpur Nagar
Kasganj
Kasganj
Kaushambi
Kaushambi
Kushinagar
Kushinagar
Lakhimpur Kheri
Lakhimpur Kheri
Lalitpur
Lalitpur
Lucknow
Lucknow
Maharajganj
Maharajganj
Mahoba
Mahoba
Mainpuri
Mainpuri
Mathura
Mathura
Mau
Mau
Meerut
Meerut
Mirzapur
Mirzapur
Moradabad
Moradabad
Muzaffarnagar
Muzaffarnagar
Pilibhit
Pilibhit
Pratapgarh
Pratapgarh
Prayagraj
Prayagraj
Rae Bareli
Rae Bareli
Rampur
Rampur
Saharanpur
Saharanpur
Sambhal
Sambhal
Sant Kabir Nagar
Sant Kabir Nagar
Shahjahanpur
Shahjahanpur
Shamli
Shamli
Shrawasti
Shrawasti
Siddharthnagar
Siddharthnagar
Sitapur
Sitapur
Sonbhadra
Sonbhadra
Sultanpur
Sultanpur
Unknown
Unknown
Unnao
Unnao
Varanasi
Varanasi
Almora
Almora
Bageshwar
Bageshwar
Chamoli
Chamoli
Champawat
Champawat
Dehradun
Dehradun
Haridwar
Haridwar
Nainital
Nainital
Pauri Garhwal
Pauri Garhwal
Pithoragarh
Pithoragarh
Rudraprayag
Rudraprayag
Tehri Garhwal
Tehri Garhwal
Udham Singh Nagar
Udham Singh Nagar
Unknown
Unknown
Uttarkashi
Uttarkashi
Alipurduar
Alipurduar
Bankura
Bankura
Birbhum
Birbhum
Cooch Behar
Cooch Behar
Dakshin Dinajpur
Dakshin Dinajpur
Darjeeling
Darjeeling
Hooghly
Hooghly
Howrah
Howrah
Jalpaiguri
Jalpaiguri
Jhargram
Jhargram
Kalimpong
Kalimpong
Kolkata
Kolkata
Malda
Malda
Murshidabad
Murshidabad
Nadia
Nadia
North 24 Parganas
North 24 Parganas
Other State
Other State
Paschim Bardhaman
Paschim Bardhaman
Paschim Medinipur
Paschim Medinipur
Purba Bardhaman
Purba Bardhaman
Purba Medinipur
Purba Medinipur
Purulia
Purulia
South 24 Parganas
South 24 Parganas
Unknown
Unknown
Uttar Dinajpur
Uttar Dinajpur

In [103]:
temp_1.head()

   Date             District  cases  cases_2  date_2
57   58           AN_Unknown  34499  80695.0   118.0
39   40         AP_Anantapur   8822  17524.0   124.0
45   46          AP_Chittoor   9999  24664.0   124.0
49   50     AP_East Godavari  19114  33893.0   126.0
31   32  AP_Foreign Evacuees  302.0      0.0    76.0

In [104]:
dis_code = list(dfwise.District_Key.unique())

In [105]:
# peak monthly value for a particualr district was determined
dis = dfwise[dfwise['District_Key']==dis_code[0]]['District']
dis = list(dis)[0]
# tempp dataset stores values for a particular district
tempp = dfdis[dfdis.loc[:,'District']==dis]
# tempp is resmapled monthly
tempp = tempp.resample('M',closed="right", label="right").max()
tempp.loc[:,'District'] = dis_code[0]
tempp = tempp.reset_index()
l = tempp.shape[0]
tempp.loc[:,'Date'] = range(1,l+1)

In [106]:
tempp.head()

Empty DataFrame
Columns: [Date, District, cases]
Index: []

In [107]:
tempp.shape

(0, 3)

In [108]:
tempp_1 = tempp.iloc[:9,:]
tempp_2 = tempp.iloc[9:,:]

In [109]:
#peak month for wave 1 for a particular district is determined
if((tempp_1.shape[0] >=1) and (tempp_2.shape[0] >=1) ):
    index = tempp_1['cases'].idxmax()
    #print(temp_1)
    tempp_1 = tempp_1.loc[index,:]
    #type(temp_1)
    tempp_1=pd.DataFrame(tempp_1)
    tempp_1= tempp_1.transpose()
    tempp_1.head()

In [112]:
#peak month for wave 2 for  a particular district is determined
if((tempp_1.shape[0] >=1) and (tempp_2.shape[0] >=1) ):
    index = tempp_2['cases'].idxmax()
    #print(temp_1)
    tempp_2 = tempp_2.loc[index,:]
    #type(temp_1)
    tempp_2=pd.DataFrame(tempp_2)
    tempp_2= tempp_2.transpose()
    tempp_2.head()
    tempp_1.loc[:,'cases_2'] = list(tempp_2.loc[:,'cases'])[0]
    tempp_1.loc[:,'date_2'] = list(tempp_2.loc[:,'Date'])[0]

In [113]:
dis_code = dis_code[1:]

In [114]:
tempp_1.head()

Empty DataFrame
Columns: [Date, District, cases]
Index: []

In [115]:
 #peak month for wave 1 and peak month for wave 2 for all district  were determined
for i in dis_code:
    dis = dfwise[dfwise['District_Key']==i]['District']
    dis = list(dis)[0]
    print(dis)
    tempp2 = dfdis[dfdis.loc[:,'District']==dis]
    tempp2 = tempp2.resample('M',closed="right", label="right").max()
    tempp2.loc[:,'District'] = i
    tempp2 = tempp2.reset_index()
    l = tempp2.shape[0]
    tempp2.loc[:,'Date'] = range(1,l+1)
    tempp2_1 = tempp2.iloc[:9,:]
    tempp2_2= tempp2.iloc[9:,:]
    if((tempp2_1.shape[0] >=1) and (tempp2_2.shape[0] >=1) ):
        index = tempp2_1['cases'].idxmax()
        tempp2_1 = tempp2_1.loc[index,:]
        tempp2_1=pd.DataFrame(tempp2_1)
        tempp2_1= tempp2_1.transpose()
        index = tempp2_2['cases'].idxmax()
        tempp2_2 = tempp2_2.loc[index,:]
        tempp2_2=pd.DataFrame(tempp2_2)
        tempp2_2= tempp2_2.transpose()
        tempp2_1.loc[:,'cases_2'] = list(tempp2_2.loc[:,'cases'])[0]
        tempp2_1.loc[:,'date_2'] = list(tempp2_2.loc[:,'Date'])[0]
        tempp_1 =pd.concat([tempp_1,tempp2_1], axis=0)

Nicobars
North and Middle Andaman
South Andaman
Foreign Evacuees
Anantapur
Chittoor
East Godavari
Guntur
Krishna
Kurnool
Other State
Prakasam
S.P.S. Nellore
Srikakulam
Visakhapatnam
Vizianagaram
West Godavari
Y.S.R. Kadapa
Anjaw
Changlang
East Kameng
East Siang
Kamle
Kra Daadi
Kurung Kumey
Lepa Rada
Lohit
Longding
Lower Dibang Valley
Lower Siang
Lower Subansiri
Namsai
Pakke Kessang
Papum Pare
Shi Yomi
Siang
Tawang
Tirap
Upper Dibang Valley
Upper Siang
Upper Subansiri
West Kameng
West Siang
Airport Quarantine
Baksa
Barpeta
Biswanath
Bongaigaon
Cachar
Charaideo
Chirang
Darrang
Dhemaji
Dhubri
Dibrugarh
Dima Hasao
Goalpara
Golaghat
Hailakandi
Hojai
Jorhat
Kamrup
Kamrup Metropolitan
Karbi Anglong
Karimganj
Kokrajhar
Lakhimpur
Majuli
Morigaon
Nagaon
Nalbari
Other State
Sivasagar
Sonitpur
South Salmara Mankachar
Tinsukia
Udalguri
West Karbi Anglong
Araria
Arwal
Aurangabad
Banka
Begusarai
Bhagalpur
Bhojpur
Buxar
Darbhanga
East Champaran
Gaya
Gopalganj
Jamui
Jehanabad
Kaimur
Katihar
Khagaria
Kishanganj
Lakhisarai
Madhepura
Madhubani
Munger
Muzaffarpur
Nalanda
Nawada
Patna
Purnia
Rohtas
Saharsa
Samastipur
Saran
Sheikhpura
Sheohar
Sitamarhi
Siwan
Supaul
Vaishali
West Champaran
Chandigarh
Other State
Balod
Baloda Bazar
Balrampur
Bametara
Bastar
Bijapur
Bilaspur
Dakshin Bastar Dantewada
Dhamtari
Durg
Gariaband
Janjgir Champa
Jashpur
Kabeerdham
Kondagaon
Korba
Koriya
Mahasamund
Mungeli
Narayanpur
Raigarh
Raipur
Rajnandgaon
Sukma
Surajpur
Surguja
Uttar Bastar Kanker
Gaurela Pendra Marwahi
Central Delhi
East Delhi
New Delhi
North Delhi
North East Delhi
North West Delhi
Shahdara
South Delhi
South East Delhi
South West Delhi
West Delhi
Other State
Dadra and Nagar Haveli
Daman
Diu
Other State
North Goa
South Goa
Other State
Ahmedabad
Amreli
Anand
Aravalli
Banaskantha
Bharuch
Bhavnagar
Botad
Chhota Udaipur
Dahod
Dang
Devbhumi Dwarka
Gandhinagar
Gir Somnath
Jamnagar
Junagadh
Kheda
Kutch
Mahisagar
Mehsana
Morbi
Narmada
Navsari
Panchmahal
Patan
Porbandar
Rajkot
Sabarkantha
Surat
Surendranagar
Tapi
Vadodara
Valsad
Bilaspur
Chamba
Hamirpur
Kangra
Kinnaur
Kullu
Lahaul and Spiti
Mandi
Shimla
Sirmaur
Solan
Una
Foreign Evacuees
Ambala
Bhiwani
Charkhi Dadri
Faridabad
Fatehabad
Gurugram
Hisar
Italians
Jhajjar
Jind
Kaithal
Karnal
Kurukshetra
Mahendragarh
Nuh
Palwal
Panchkula
Panipat
Rewari
Rohtak
Sirsa
Sonipat
Yamunanagar
Bokaro
Chatra
Deoghar
Dhanbad
Dumka
East Singhbhum
Garhwa
Giridih
Godda
Gumla
Hazaribagh
Jamtara
Khunti
Koderma
Latehar
Lohardaga
Pakur
Palamu
Ramgarh
Ranchi
Sahibganj
Saraikela-Kharsawan
Simdega
West Singhbhum
Anantnag
Bandipora
Baramulla
Budgam
Doda
Ganderbal
Jammu
Kathua
Kishtwar
Kulgam
Kupwara
Mirpur
Muzaffarabad
Pulwama
Punch
Rajouri
Ramban
Reasi
Samba
Shopiyan
Srinagar
Udhampur
Bagalkote
Ballari
Belagavi
Bengaluru Rural
Bengaluru Urban
Bidar
Chamarajanagara
Chikkaballapura
Chikkamagaluru
Chitradurga
Dakshina Kannada
Davanagere
Dharwad
Gadag
Hassan
Haveri
Kalaburagi
Kodagu
Kolar
Koppal
Mandya
Mysuru
Other State
Raichur
Ramanagara
Shivamogga
Tumakuru
Udupi
Uttara Kannada
Vijayapura
Yadgir
Other State
Alappuzha
Ernakulam
Idukki
Kannur
Kasaragod
Kollam
Kottayam
Kozhikode
Malappuram
Palakkad
Pathanamthitta
Thiruvananthapuram
Thrissur
Wayanad
Kargil
Leh
Lakshadweep
Ahmednagar
Akola
Amravati
Aurangabad
Beed
Bhandara
Buldhana
Chandrapur
Dhule
Gadchiroli
Gondia
Hingoli
Jalgaon
Jalna
Kolhapur
Latur
Mumbai
Mumbai Suburban
Nagpur
Nanded
Nandurbar
Nashik
Osmanabad
Other State
Palghar
Parbhani
Pune
Raigad
Ratnagiri
Sangli
Satara
Sindhudurg
Solapur
Thane
Wardha
Washim
Yavatmal
East Garo Hills
East Jaintia Hills
East Khasi Hills
North Garo Hills
Ribhoi
South Garo Hills
South West Garo Hills
South West Khasi Hills
West Garo Hills
West Jaintia Hills
West Khasi Hills
CAPF Personnel
Bishnupur
Chandel
Churachandpur
Imphal East
Imphal West
Jiribam
Kakching
Kamjong
Kangpokpi
Noney
Pherzawl
Senapati
Tamenglong
Tengnoupal
Thoubal
Ukhrul
Agar Malwa
Alirajpur
Anuppur
Ashoknagar
Balaghat
Barwani
Betul
Bhind
Bhopal
Burhanpur
Chhatarpur
Chhindwara
Damoh
Datia
Dewas
Dhar
Dindori
Guna
Gwalior
Harda
Hoshangabad
Indore
Jabalpur
Jhabua
Katni
Khandwa
Khargone
Mandla
Mandsaur
Morena
Narsinghpur
Neemuch
Niwari
Other Region
Panna
Raisen
Rajgarh
Ratlam
Rewa
Sagar
Satna
Sehore
Seoni
Shahdol
Shajapur
Sheopur
Shivpuri
Sidhi
Singrauli
Tikamgarh
Ujjain
Umaria
Vidisha
Aizawl
Champhai
Hnahthial
Khawzawl
Kolasib
Lawngtlai
Lunglei
Mamit
Saiha
Saitual
Serchhip
Others
Dimapur
Kiphire
Kohima
Longleng
Mokokchung
Mon
Peren
Phek
Tuensang
Wokha
Zunheboto
State Pool
Others
Angul
Balangir
Balasore
Bargarh
Bhadrak
Boudh
Cuttack
Deogarh
Dhenkanal
Gajapati
Ganjam
Jagatsinghpur
Jajpur
Jharsuguda
Kalahandi
Kandhamal
Kendrapara
Kendujhar
Khordha
Koraput
Malkangiri
Mayurbhanj
Nabarangapur
Nayagarh
Nuapada
Puri
Rayagada
Sambalpur
Subarnapur
Sundargarh
Amritsar
Barnala
Bathinda
Faridkot
Fatehgarh Sahib
Fazilka
Ferozepur
Gurdaspur
Hoshiarpur
Jalandhar
Kapurthala
Ludhiana
Mansa
Moga
Pathankot
Patiala
Rupnagar
S.A.S. Nagar
Sangrur
Shahid Bhagat Singh Nagar
Sri Muktsar Sahib
Tarn Taran
Karaikal
Mahe
Puducherry
Yanam
Ajmer
Alwar
Banswara
Baran
Barmer
Bharatpur
Bhilwara
Bikaner
BSF Camp
Bundi
Chittorgarh
Churu
Dausa
Dholpur
Dungarpur
Evacuees
Ganganagar
Hanumangarh
Italians
Jaipur
Jaisalmer
Jalore
Jhalawar
Jhunjhunu
Jodhpur
Karauli
Kota
Nagaur
Other State
Pali
Pratapgarh
Rajsamand
Sawai Madhopur
Sikar
Sirohi
Tonk
Udaipur
East Sikkim
North Sikkim
South Sikkim
West Sikkim
Foreign Evacuees
Other State
Adilabad
Bhadradri Kothagudem
Hyderabad
Jagtial
Jangaon
Jayashankar Bhupalapally
Jogulamba Gadwal
Kamareddy
Karimnagar
Khammam
Komaram Bheem
Mahabubabad
Mahabubnagar
Mancherial
Medak
Medchal Malkajgiri
Mulugu
Nagarkurnool
Nalgonda
Narayanpet
Nirmal
Nizamabad
Peddapalli
Rajanna Sircilla
Ranga Reddy
Sangareddy
Siddipet
Suryapet
Vikarabad
Wanaparthy
Warangal Rural
Warangal Urban
Yadadri Bhuvanagiri
Railway Quarantine
Airport Quarantine
Other State
Ariyalur
Chengalpattu
Chennai
Coimbatore
Cuddalore
Dharmapuri
Dindigul
Erode
Kallakurichi
Kancheepuram
Kanyakumari
Karur
Krishnagiri
Madurai
Nagapattinam
Namakkal
Nilgiris
Perambalur
Pudukkottai
Ramanathapuram
Ranipet
Salem
Sivaganga
Tenkasi
Thanjavur
Theni
Thiruvallur
Thiruvarur
Thoothukkudi
Tiruchirappalli
Tirunelveli
Tirupathur
Tiruppur
Tiruvannamalai
Vellore
Viluppuram
Virudhunagar
Mayiladuthurai
Dhalai
Gomati
Khowai
North Tripura
Sipahijala
South Tripura
Unokoti
West Tripura
Agra
Aligarh
Ambedkar Nagar
Amethi
Amroha
Auraiya
Ayodhya
Azamgarh
Baghpat
Bahraich
Ballia
Balrampur
Banda
Barabanki
Bareilly
Basti
Bhadohi
Bijnor
Budaun
Bulandshahr
Chandauli
Chitrakoot
Deoria
Etah
Etawah
Farrukhabad
Fatehpur
Firozabad
Gautam Buddha Nagar
Ghaziabad
Ghazipur
Gonda
Gorakhpur
Hamirpur
Hapur
Hardoi
Hathras
Jalaun
Jaunpur
Jhansi
Kannauj
Kanpur Dehat
Kanpur Nagar
Kasganj
Kaushambi
Kushinagar
Lakhimpur Kheri
Lalitpur
Lucknow
Maharajganj
Mahoba
Mainpuri
Mathura
Mau
Meerut
Mirzapur
Moradabad
Muzaffarnagar
Pilibhit
Pratapgarh
Prayagraj
Rae Bareli
Rampur
Saharanpur
Sambhal
Sant Kabir Nagar
Shahjahanpur
Shamli
Shrawasti
Siddharthnagar
Sitapur
Sonbhadra
Sultanpur
Unnao
Varanasi
Almora
Bageshwar
Chamoli
Champawat
Dehradun
Haridwar
Nainital
Pauri Garhwal
Pithoragarh
Rudraprayag
Tehri Garhwal
Udham Singh Nagar
Uttarkashi
Alipurduar
Bankura
Birbhum
Cooch Behar
Dakshin Dinajpur
Darjeeling
Hooghly
Howrah
Jalpaiguri
Jhargram
Kalimpong
Kolkata
Malda
Murshidabad
Nadia
North 24 Parganas
Other State
Paschim Bardhaman
Paschim Medinipur
Purba Bardhaman
Purba Medinipur
Purulia
South 24 Parganas
Uttar Dinajpur
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown
Unknown

In [116]:
tempp_1.head()

  Date             District  cases  cases_2  date_2
4    5  AP_Foreign Evacuees    302      0.0    10.0
5    6         AP_Anantapur   8822  17524.0    15.0
5    6          AP_Chittoor   9999  24664.0    15.0
6    7     AP_East Godavari  19114  33893.0    15.0
5    6            AP_Guntur   7920  18989.0    15.0

In [118]:
temp_1.head()

   Date             District  cases  cases_2  date_2
57   58           AN_Unknown  34499  80695.0   118.0
39   40         AP_Anantapur   8822  17524.0   124.0
45   46          AP_Chittoor   9999  24664.0   124.0
49   50     AP_East Godavari  19114  33893.0   126.0
31   32  AP_Foreign Evacuees  302.0      0.0    76.0

In [119]:
temp_1.rename(columns = {'Date':'wave1 − weekid','District':'districtid','date_2':'wave2 − weekid'}, inplace = True)

In [106]:
temp_sta.head()

   Date State  cases
0     1    AN      0
1     2    AN      0
2     3    AN      0
3     4    AN      0
4     5    AN      0

In [101]:
temp_sta_1.rename(columns = {'Date':'wave1 − weekid','State':'stateid','date_2':'wave2 − weekid'}, inplace = True)

In [221]:
temp_ind_1.rename(columns = {'Date':'wave1 − weekid','date_2':'wave2 − weekid'}, inplace = True)

In [120]:
temp_1.loc[:,'wave1-monthid'] = list(tempp_1.loc[:,'Date'])
temp_1.loc[:,'wave2-monthid'] = list(tempp_1.loc[:,'date_2'])

In [102]:
temp_sta_1.loc[:,'wave1-monthid'] = list(tempp_sta_1.loc[:,'Date'])
temp_sta_1.loc[:,'wave2-monthid'] = list(tempp_sta_1.loc[:,'date_2'])

In [222]:
temp_ind_1.head()

   Country wave1 − weekid  wave2 − weekid  wave1-monthid  wave2-monthid
53   India             54             120              7             15

In [216]:
temp_ind_1.loc[:,'wave1-monthid'] = list(tempp_ind_1.loc[:,'Date'])
temp_ind_1.loc[:,'wave2-monthid'] = list(tempp_ind_1.loc[:,'date_2'])

In [224]:
temp_1 = temp_1.drop(['cases','cases_2'],axis=1)

In [103]:
temp_sta_1 = temp_sta_1.drop(['cases','cases_2'],axis=1)

In [219]:
temp_ind_1 = temp_ind_1.drop(['cases','cases_2'],axis=1)

In [226]:
temp_1 = temp_1.reset_index()
temp_1 = temp_1.drop('index',axis=1)

In [104]:
temp_sta_1 = temp_sta_1.reset_index()
temp_sta_1 = temp_sta_1.drop('index',axis=1)

In [228]:
temp_1 = temp_1.loc[:,['districtid','wave1 − weekid','wave2 − weekid','wave1-monthid','wave2-monthid']]

In [111]:
temp_sta_1.rename(columns = {'State':'stateid'}, inplace = True)

In [112]:
temp_sta_1 = temp_sta_1.loc[:,['stateid','wave1 − weekid','wave2 − weekid','wave1-monthid','wave2-monthid']]

In [230]:
temp_1.to_csv('peaks.csv', index=False)

In [113]:
temp_sta_1.to_csv('state-peaks.csv', index=False)

In [223]:
temp_ind_1.to_csv('overall-peaks.csv', index=False)